.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(120deg, #87ceeb, white);
}

.logoimg {
  width: 100px;
  height: 100px;
  border-radius: 50px 25px 25px 25px;
  float: left;
}

.logotext {
  font-size: 80px;
  text-align: center;
  font-family: fantasy;
  margin-right: 100px;
}

.login-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 360px;
  padding: 40px;
  margin: auto;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #6a11cb;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #2575fc;
}

.login-container .footer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.login-container .footer a {
  color: #2575fc;
  text-decoration: none;
}

.login-container .footer a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  text-align: center;
  display: none;
}

@media (max-width: 600px) {
  .login-container {
      padding: 15px;
      width: 90%;
      max-width: 90%;
  }
  .login-form input {
      font-size: 14px;
  }
  button {
      font-size: 14px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .login-container {
      padding: 25px;
      width: 80%;
  }
  .login-form input {
      font-size: 16px;
  }
  button {
      font-size: 16px;
  }
}
@media (min-width: 1025px) {
  .login-container {
      width: 40%;
      padding: 30px;
  }
  .login-form input {
      font-size: 18px;
  }
  button {
      font-size: 18px;
  }
}